::ng-deep .cdk-overlay-pane {
    background: white;
  }
  :host ::ng-deep .mat-select-panel {
    min-width: 100%;
  }
  
  :host ::ng-deep .mat-form-field-wrapper {
    padding: 0px;
  }
  
  .border-style {
    border: 1px solid #3e4097;
    border-radius: 5px;
  }
